<p>
    <img src="~/img/shaka-when-the-walls-fell.jpg" />
</p>
<p class="text-danger" style="font-size: xx-large;">
    An unexpected error occurred. Sorry for the inconvenience.<br />
    @ViewBag.ErrorRecorded 
</p>