@model CategoryDetailsViewModel

<h1 style="margin-bottom:20px;margin-top: 5px">Category details</h1>
<div class="row">

    <form class="card card-body bg-light mt-5">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Category.Name)</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.DisplayFor(model => model.Category.Name)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-auto">
                    <a class="btn btn-outline-secondary  btn-md" asp-action="Index">Back to List</a>
                </div>
                <div class="col-md-auto">
                    <a class="btn btn-outline-success  btn-md" asp-action="Edit" asp-route-id="@Model.Category.Id">Edit</a>
                </div>
            </div>
        </div>
    </form>
</div>