USE [BookCatalog]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 30.4.2021. 11:27:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Year] [int] NULL,
	[Publisher] [nvarchar](56) NULL,
	[Author] [nvarchar](56) NULL,
	[Note] [nvarchar](max) NULL,
	[Collection] [nvarchar](56) NULL,
	[Read] [bit] NULL,
	[CategoryId] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 30.4.2021. 11:27:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](48) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Book] ([Id], [Title], [Year], [Publisher], [Author], [Note], [Collection], [Read], [CategoryId]) VALUES (2, N'101 najutjecajniji lik koji nikada nije živio', 2010, N'Naklada Ljevak', N'Lazar, Allan;et al', N'2. izdanje', N'Biblioteka POP', 1, 6)
INSERT [dbo].[Book] ([Id], [Title], [Year], [Publisher], [Author], [Note], [Collection], [Read], [CategoryId]) VALUES (4, N'Mitologija', 2003, N'Leo Commerce', N'Cotterell, Arthur', NULL, NULL, 0, 5)
INSERT [dbo].[Book] ([Id], [Title], [Year], [Publisher], [Author], [Note], [Collection], [Read], [CategoryId]) VALUES (5, N'Oxford Collocations Dictionary for students of Eng', 2004, N'Oxford University Press', NULL, NULL, NULL, 0, 5)
GO
INSERT [dbo].[Category] ([Id], [Name]) VALUES (1, N'Književnost na hrvatskom')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (2, N'Stručna literatura-engleski')
INSERT [dbo].[Category] ([Id], [Name]) VALUES (3, N'Stručna literatura-hrvatski')
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category_CategoryId]
GO
