@model BookEditViewModel

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-auto mb-1 mt-2">
                    <h2>New book</h2>
                </div>
            </div>
            <form asp-action="Create" autocomplete="off" class="card card-body bg-light mt-1">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Title" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input asp-for="Book.Title" class="form-control" />
                            <span asp-validation-for="Book.Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Author" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input asp-for="Book.Author" class="form-control" />
                            <span asp-validation-for="Book.Author" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Year" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input asp-for="Book.Year" class="form-control" />
                            <span asp-validation-for="Book.Year" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.CategoryId" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <select asp-for="Book.CategoryId" class="form-control" asp-items="ViewBag.AllCategories">
                                <option value="">-- Select Category --</option>
                            </select>
                            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Publisher" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input asp-for="Book.Publisher" class="form-control" />
                            <span asp-validation-for="Book.Publisher" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Collection" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input asp-for="Book.Collection" class="form-control" />
                            <span asp-validation-for="Book.Collection" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Read" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input type="checkbox" asp-for="Book.Read" class="form-control" style="width:20px" />
                            <span asp-validation-for="Book.Read" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12">
                            <label asp-for="Book.Note" class="control-label"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <textarea asp-for="Book.Note" class="form-control"></textarea>
                            <span asp-validation-for="Book.Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-auto">
                            <a class='btn btn-outline-secondary' asp-action="Index">Back to List</a>
                        </div>
                        <div class="col-sm-auto">
                            <input type="submit" value="Save" class="btn btn-outline-success" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
